@{
    ViewData["Title"] = "Home Page";
}

    <form action="/Home/GetPersonById" method="post">
        person id <input type="number" name="id" />
                  <input type="submit" value="Get Person" />
    </form>
    <form action="/Home/GetPlanetById" method="post">
        planet id <input type="number" name="id" />
                  <input type="submit" value="Get Planet" />
    </form>